@model IEnumerable<SBTCv3.Models.Ticket>
@using SBTCv3.Controllers

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Travel";
}
<div class="container">
    <div class="col-md-5 bann-info1">
        <i class="fa fa-ticket"></i>
        <h3>30% OFFER  WITH TICKET BOOKING FREE</h3>
    </div>
    <div class="col-md-7 bann-info">
        <h2>Online Tickets with Zero Booking Fees</h2>
        <div class="ban-top">
            <form>
                <div class="bnr-left">
                    <label class="inputLabel">From</label>
                    <input class="city" type="text" value="Enter a city" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter a city';}" required=>
                </div>
                <div class="bnr-left">
                    <label class="inputLabel">To</label>
                    <input class="city" type="text" value="Enter a city" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter a city';}" required=>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    <div class="sear">
        <form asp-controller="Home" asp-action="ticket">
            <button class="seabtn">Search Train</button>
        </form>
    </div>
</div>
<div class="clearfix"></div>
</div>
<!--- /banner ---->
<!--- travel ---->
<div class="travel">
    <div class="container">
        <div class="tra-top">
            <h4>Railway Route</h4>
            <ul class="rout">
                <li class="rou">Route</li>
                <li class="ser">Start</li>
                <li class="las">Fare</li>
                <li class="dat"></li>
                <div class="clearfix"></div>
            </ul>
            <!--- rou-secnd ---->
            @foreach (var item in Model)
            {
                <div class="modal fade" id="@Html.DisplayFor(modelItem => item.id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <section>
                                <div class="modal-body modal-spa">
                                    <div class="writ">
                                        <h4>Ticket Information</h4>
                                        <form asp-controller="SendMail" asp-action="SendMail" method="post">
                                            <table>
                                                <tr style="line-height: 50px">
                                                    <td>
                                                        <strong>Email:</strong>
                                                    </td>
                                                    <td style="padding-left: 150px"></td>
                                                    <td>
                                                        <input type="email" name="email" />
                                                    </td>
                                                </tr>
                                                <tr style="line-height: 50px">
                                                    <td>
                                                        <strong>Identity Card</strong>
                                                    </td>
                                                    <td style="padding-left: 150px"></td>
                                                    <td>

                                                        <input type="text" name="identityCard" />
                                                    </td>
                                                </tr>
                                                <tr style="line-height: 50px">
                                                    <td>
                                                        <strong>Quantity</strong>
                                                    </td>
                                                    <td style="padding-left: 150px"></td>
                                                    <td>
                                                        <input type="text" name="quantity" />
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="sub-bn">
                                                 <form>
                                                    <input class="subbtn" type="submit" value="Submit"/>
                                                </form>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <ul class="rou-secnd animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms"
                style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
                    <li class="rou">
                        <h4>@Html.DisplayFor(modelItem => item.startLocation)</h4>
                        <p> @Html.DisplayFor(modelItem => item.endLocation)</p>
                    </li>
                    <li class="ser">
                        <p>@Html.DisplayFor(modelItem => item.Time)</p>
                    </li>
                    <li class="las">
                        <p>@Html.DisplayFor(modelItem => item.price)$</p>
                    </li>
                    <li class="dat">
                        <a href="#" class="det" data-toggle="modal" data-target="#@Html.DisplayFor(modelItem => item.id)">Buy</a>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            }
            <!--- /rou-secnd ---->
        </div>
    </div>
</div>
